<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %} {% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
</head>
<body>
    <div id = 'logodiv'>
        <a class = 'logo_text' href="/">SiPP</a>
        <div class = 'caption'>simple Privacy Policy</div>
        <br>        
    </div>
    <div class = 'topnav'>
        <a href="/">Home</a>
        <a href="/ViewSiPP">SiPP</a>
        <a href="viewPolicy">View Policies</a>
        <a href = '/guide'>how to use</a>
        <!-- <a href='/working'>how it works</a> -->
    </div>
    <div class = 'body_block'>
        {% block body %} {% endblock %}
    </div>
    <br>
    <br>
    <br>
    
</body>
</html>