{% extends "base.html" %}
{% block head %}
    <title>SiPP - Home</title>

{% endblock %}
{% block body %}
    <h4 class='intro'>
        Welcome to SiPP(Simple Privacy Policy), a place to navigate privacy policies with ease. 

        <br><br>

        While installing/using applications it would be great to skim through the Privacy Policies before accepting them. While many policies are too long to read, others need a degree in law to just understand them. 

        <br><br>

        On conducting a survey, Privacy Policies are 
        <ul>
            <li>Too long</li>
            <li>Hard to understand</li>
        </ul>
        
        To address this very problems, we introduce SiPP(Simple Privacy Policy), a tool where the large barral is containerized into small cups to sip from :) 

    </h4>
    <br>

{% endblock %}