{% extends 'base.html' %}
{% block head %}
    <title>View Policies</title>
{% endblock %}
{% block body %}
    <ol>
        <li>Shopping</li>
        <br>
        <ul>
            <li><a target = '_blank' href="https://www.amazon.in/gp/help/customer/display.html?nodeId=GX7NJQ4ZB8MHFRNJ">Amazon</a></li>
            <li><a target = '_blank' href="https://www.flipkart.com/pages/privacypolicy">Flipkart</a></li>
        </ul>
        <br>
        <br>
        <li>Social Platform</li>
        <br>
        <ul>
            <li><a target = '_blank' href="https://www.facebook.com/policy.php?">Facebook</a></li>
            <li><a target = '_blank' href="https://www.linkedin.com/legal/privacy-policy">Linkedin</a></li>
        </ul>
        <br>
        <br>
        <li>Messaging</li>
        <br>
        <ul>
            <li><a target = '_blank' href="https://telegram.org/privacy">Telegram</a></li>
            <li><a target = '_blank' href="https://www.whatsapp.com/legal/updates/privacy-policy/">Whatsapp</a></li>
        </ul>
    </ol>
{% endblock %}